@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skeleton {
    @apply animate-shimmer bg-gradient-custom bg-custom;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: var(--font-pretendard);
}
html,
body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  scroll-padding-top: 80px;
}
