@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html,
body {
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}
